nav{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     min-height: 8vh; 
     width: 100%;
     font-family:monospace;
     background:#000;

     
}
nav .nav-links{
     display: flex;
     justify-content:space-around;  
     width: 30%;
}
.menu-item{
     text-decoration: none;
     font-size: large;
     font-weight: 500em;
     color: #fff;
}